NODE_ENV="development"
PORT=8000

NODE_ENV="development"
PORT=8000

DATABASE_URL="postgresql://postgres:password@localhost:5432/MBG?schema=public"
JWT_SECRET_TOKEN="secret"
JWT_REFRESH_SECRET="refresh-secret"
JWT_ACCESS_TOKEN_EXPIRY="30m"
JWT_REFRESH_TOKEN_EXPIRY="30d"
EMAIL_VERIFICATION_EXPIRY_MINUTES=60
PASSWORD_RESET_EXPIRY_MINUTES=15

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

USER_EMAILER=
PASSWORD_EMAILER=
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback
SESSION_SECRET=secret

RAJAONGKIR_API_KEY=
RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
